*.class
*.log

# eclipse
.classpath
.project
.settings
bin/

# Gradle
.gradle
build
mappings/

# Visual Studio code
.vscode*

# IntelliJ IDEA
.idea/

#build specific
node_modules/
.log
/webpack/tests_out/
/webpack/*.log.*
tsconfig.tsbuildinfo
dist/docker/
src/main/webapp/assets/bundles-manifest.json

# emacs
.#*
\#*

#idea
.idea/
*.iml
*.iws

# runtime
/runtime-data*

# Mac
.DS_Store

# deployment
researchspace-docker-compose/
.java-version
.nvmrc

#build
src/main/webapp/assets/*

# code harness documentation
docs/
export_migrated_data/
export_pre_migration_data/